<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577861577478-0hujgfciag97lvvqead0mgpitgd9boih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577861577478-0hujgfciag97lvvqead0mgpitgd9boih</string>
	<key>API_KEY</key>
	<string>AIzaSyBs3s7A-G5HuF4mlk6o2yQB4eA1OwdmfR8</string>
	<key>GCM_SENDER_ID</key>
	<string>577861577478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.keyaccess.keyaccesspass</string>
	<key>PROJECT_ID</key>
	<string>keyaccess-cloud-notifica-7bf72</string>
	<key>STORAGE_BUCKET</key>
	<string>keyaccess-cloud-notifica-7bf72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false />
	<key>IS_ANALYTICS_ENABLED</key>
	<false />
	<key>IS_APPINVITE_ENABLED</key>
	<true />
	<key>IS_GCM_ENABLED</key>
	<true />
	<key>IS_SIGNIN_ENABLED</key>
	<true />
	<key>GOOGLE_APP_ID</key>
	<string>1:577861577478:ios:2a2f1147b9e8853a6e0c87</string>
	<key>DATABASE_URL</key>
	<string>https://keyaccess-cloud-notifica-7bf72.firebaseio.com</string>
</dict>
</plist>
